.sidebar-container {
  height: 100vh;
  background: #f5f5f5;
  padding: 18px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  z-index: 1000;
  overflow-y: auto;
  box-sizing: border-box;
}

.sidebar-container h3 { 
    margin-top:10px; 
    margin-bottom: 10px;
    font-size:16px; 
    color: #490108;
}

.sidebar-container #zoom{
    margin-top:20px;
}

.sidebar-container button { 
    margin-top: 5px; 
    padding: 8px 12px; 
    font-size: 16px; 
    cursor:pointer; 
    width:100%; 
    border:none; 
    border-radius:4px; 
    background:#490108;
    color:#f5f5f5; 
}

.sidebar-container #info { 
    margin-top: 15px; 
    font-size: 15px; 
    color:#490108; 
    word-break: break-word; 
    padding: 10px; 
    background:#ffffff; 
    border-radius:4px; 
    border: 1px solid #ddd;
}

.sidebar-container .pesquisa-title {
  cursor: pointer;
  user-select: none; /* Impede de selecionar o texto */
  
  /* ADICIONADO: Define o "box" fixo */
  padding: 8px 4px;
  margin-left: -4px;
  border-radius: 4px;
  
  /* ADICIONADO: Animação suave */
  transition: background-color 0.2s, color 0.2s;
}

.sidebar-container .pesquisa-title:hover {
  background-color: #e0e0e0; /* Cinza claro (igual ao "Vazios" inativo) */
}

.sidebar-container .pesquisa-title.active {
  background-color: #490108; 
  color: #f5f5f5;
}