.app-container {
  display: grid;
  /* 1ª coluna (Sidebar) com 200px, 2ª (Mapa) ocupa o resto (1fr) */
  grid-template-columns: 200px 1fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: grid-template-columns 0.3s ease-in-out;
}

.app-container.pesquisa-open {
  grid-template-columns: 200px 280px 1fr;
}